.example-card {
    max-width: 250px;
    margin: 5px;
  }
.tarjeta-pub{
  display: flex;
  flex-direction: raw;
  flex-wrap: wrap;
  justify-content: center
}
.mat-card-header{
  border-bottom: 2px solid gray;
}

a{
  width: 100%;
}

.detail{
  text-align: center;
}
