<form class="example-form">

    <mat-form-field class="example-full-width">
        <input type="text" [(ngModel)]="search" name="search" placeholder="Search" aria-label="Number" matInput [formControl]="myControl">
    </mat-form-field>
</form>


<div class="tarjeta-pub">
    <h1 *ngIf="items.length == 0"> No hay publicaciones en este momento!</h1>
    <mat-card class="example-card" *ngFor="let item of items|filter:search; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Compra de {{item.badge}}</mat-card-title>
            <mat-card-subtitle>{{item.user}}, {{item.place}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.brandcrowd.com/gallery/brands/pictures/picture15270839486609.png">
        <p>{{item.date.substring(0, 10)}}</p>
        <p>Puntaje: {{puntajes[i]}} </p>
        <p class="detail"> <strong> Vendo {{item.quantity}} {{item.badge}}! </strong></p>
        <a mat-button class="mat-raised-button mat-primary" (click)="sendToOffer(i)" href="/oferta">Ofertar</a>
    </mat-card>
</div>