<mat-toolbar>Cambio Nelson</mat-toolbar>
<div class="container">
  <mat-toolbar>Log in</mat-toolbar>
  <form name= "frmLogin" [formGroup]="user" #frmLogin="ngForm" class="example-form" (ngSubmit)="login(frmLogin)">

      <mat-error *ngIf="incorrectCredentials == true">
          Incorrect user or password. Try again!
    </mat-error>
    <!--Email-->
    <mat-form-field class="example-full-width">
        <mat-icon matSuffix svgIcon="email">sentiment_very_satisfied</mat-icon>
      <input matInput placeholder="Correo"
             [errorStateMatcher]="matcher"  formControlName="email">
      <mat-error *ngIf="user.get('email').hasError('email') && !user.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="user.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
            <!--Password-->
    <mat-form-field class="example-full-width">
        <mat-icon matSuffix svgIcon="key">sentiment_very_satisfied</mat-icon>
        <input matInput placeholder="Contraseña"
                         [errorStateMatcher]="matcher"  formControlName="password" type="password">
        <mat-error *ngIf="user.get('password').hasError('required')">
                    Password is <strong>required</strong>
        </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Log in</button>
  <a mat-raised-button routerLink="../registro">Aun no tienes usuario? Haz click aqui!</a>
  </form>
</div>
