<mat-card>
  <p>Ofertar a la publicación Numero: X</p>
  <p>Vendo 200 dolares!</p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Monto de oferta" value="1000" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <select matNativeControl placeholder="Moneda" required>
        <option value="UYU">UYU</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="ARG">ARG</option>
      </select>
    </mat-form-field>
  </form>
  <a mat-button href="">Ofertar</a>
</mat-card>