<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Compra de dolares</mat-card-title>
        <mat-card-subtitle>User 1, Montevideo</mat-card-subtitle>
        <!-- <mat-card-subtitle>{{user}}, {{place}}</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="https://www.brandcrowd.com/gallery/brands/pictures/picture15270839486609.png">
    <p>11 feb</p>
    <!-- <p>{{date}}</p> -->
    <p>Vendo 200 USD!</p>
    <!-- <p>Vendo {{quantity}} {{badge}}!</p> -->
</mat-card>